<div class="container login-container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 login-form-1">
            <h3>Bejelentkezés</h3>
            <form>
                <div class="form-label">
                    <input type="text" name="email" class="form-control" placeholder="E-mail cím" [(ngModel)]="email" />
                </div>
                <div class="mb-3 form-label">
                    <input type="password" name="password" class="form-control" placeholder="Jelszó" [(ngModel)]="password" />
                </div>
                <div class="mb-3 form-label">
                    <a href="#" class="ForgetPwd">Elfelejtettem a jelszavam</a>
                </div>
                <div class="mb-3 form-label fs-5">
                    <a class="nav-link active" routerLink="/register" class="ForgetPwd">Regisztrálni szeretnék!</a>
                </div>
                <div class="form-label">
                    <input (click)="Login()" type="submit" class="btnSubmit" value="Bejelentkezés" />
                </div>
            </form>
            <p class="text-danger font-weight-bold text-center" *ngIf="errorMessage" id="error">{{errorMessage}}</p>

        </div>

    </div>
</div>