.login-container{
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
}
.login-container form{
    padding: 5%;
}
.login-form-1 .register{
    color: #216869;
    font-weight: 600;
    text-decoration: none;
} 
.btnSubmit
{
    width: 70%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-size: larger;
    font-weight: 600;
    color: #fff;
    background-color: #216869;
}
.login-form-1{
    color: #216869;
    font-weight: 600;
    padding: 5%;
    text-decoration: none;
}