.login-container{
    margin-top: 10%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-container form{
    padding: 5%;
}
.btnSubmit
{
    width: 70%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    margin-left: 15%;
    font-size: larger;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #026274;
}
.login-form-1 .ForgetPwd{
    color: #026274;
    font-weight: 600;
    text-decoration: none;
}