.container {
    color: black;
    align-items: center;
    width: 90%;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
img {
    width: 90%;
    border-radius: 5%;
}
.trainer {
    text-align: center;
}
.sessions {
    border: solid 2px gray;
    border-radius: 5%;
    padding: 1%;
}
.center {
    margin-left: 30%;
    width: 40%;
}
.sessions button {
    width: 100%;
}
h2 {
    width: 90%;
    margin: auto;
}
#tag {
    color:white;
}
.locations {
    padding: 0;
    margin: 0;
}
table button:hover {
    color: white;
    background-color: #216869;
}
table button {
    color: #216869;
    background-color: white;
    border: 1px solid #216869;
}