<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-10 col-sm-10 trainer">
            <img src=".//src/assets/images/categoryPageImages/profile_rock.png" alt="">
            <h1>{{trainer.full_name}}</h1>
            <h3 class="fw-2">{{training.contact_phone}}</h3>
        </div>
        <div class="col-lg-8 col-md-10 col-sm-10 trainer">
            <h1 class="mb-4">{{training.name}}</h1>
            <h2 class="mb-4">Az edzés leírása: </h2>
            <h2 class="mb-4">{{training.description}}</h2>
            <h3 class="mb-4">Kategória: <a [routerLink]="'/category/' + training.category_id">{{category.name}}</a></h3>
            <h3 class="mb-4">Résztvevők száma: {{training.min_member}} - {{training.max_member}} fő</h3>
            <h3 class="mb-4">Címkék:</h3>
            <span *ngFor="let tag of tagTraining">
                <button *ngIf="training.id == tag.training_id && tag.tag_id == tags[tag.tag_id-1].id  ? 'true' : ''" id="tag"  [ngStyle]="{'background-color':tags[tag.tag_id-1].colour, 'border-color':'white'}"
                   class="btn fw-bold me-1 mb-1" >{{tags[tag.tag_id-1].name}}</button>
              </span>
        </div>
        <div class="row">
        </div>
    </div>
    <div class="row g-0 mx-5">
        <table class="table table-striped table-hover">
            <tr>
                <th>Város</th>
                <th>Pontos cím</th>
                <th>Időpont</th>
                <th>Ár(Ft)</th>
                <th>Hossz(Perc)</th>
            </tr>
            <tr *ngFor="let session of sessions" >
                <td>
                    <span *ngFor="let location of locations" class="locations">
                        <span *ngIf="location.id == session.location_id" >{{location.city_name}}</span>
                    </span>
                </td>
                <td>
                    {{session.address_name}}
                    {{session.place_name}}
                </td>
                <td>{{session.date | date: 'yyyy.MM.dd. HH:mm'}}</td>
                <td>{{session.price}}</td>
                <td>{{session.minutes}}</td>
                <td><button class="btn fw-bold mb-2 mt-2" (click)="Apply()">Jelentkezek!</button>
                    {{session.numberOfApplicants}}
                </td>
            </tr>
        </table>



        <!-- <div *ngFor="let session of sessions" class="col-lg-4 col-md-5 col-sm-12 sessions">
            <h3 class="mb-2"><u>Helyszín:</u></h3>
            <h3>
                <span *ngFor="let location of locations">
                    <span *ngIf="location.id == session.location_id" >{{location.city_name}}</span>
                </span>, {{session.address_name}}
            </h3>
            <h3 class="mb-2"><u>Edzés ára:</u> {{session.price}} Ft</h3>
            <h3 class="mb-2"><u>Időpont:</u> {{session.date | date: 'yyyy.MM.dd. HH:mm'}}</h3>
            <h3 class="mb-2"><u>Időtartam:</u> {{session.minutes}} perc</h3>
            <button class="btn fw-bold btn-success mb-2">Jelentkezek!</button>
        </div> -->
    </div>
</div>