 nav {
   background-color: #216869;
   color: white;
 }
 a {
    color: white;
    text-decoration: none;
 }
 .dropdown-item {
    color: black;
 }
 .navbar-dark .navbar-nav .nav-link {
    color: white;
 }
 #searchBtn {
    color: #216869;
    background-color: white;
    margin-right: 2rem;
 }
 #logoImage {
   width: 100%;
 }
 #logoLink {
   width: 60px;
 }
 .clickable {
    cursor: pointer;
 }
