#catImg {
  border-radius: 25px;
}

#catImgDiv {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#catRef {
  background-color: rgba(0, 0, 0, 0.7);
  width: 70%;
  height: 20%;
  text-align: center;
}

a#catRef {
  color: white;
  font-size: xx-large;
}

h1,
h2 {
  text-align: center;
  margin: 10px;
  color: black;
}

.links {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10%;
}
#logoImage {
  width: 100%;
}
.trainingImage {
  width: 90%;
  margin: 5%;
}
.cats {
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
}
.parallax {
  padding-bottom: 2rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 3%,
    rgba(33, 104, 105, 1) 100%
  );
}
