<div class="parallax">
    <div [ngStyle]="{'width.%': mobile ? '100' : '80'}" class="container-fluid">
        <h1>Fiókbeállítások</h1>
        <form>
            <div class="mb-3" id="photo">
                <h5>Profilkép beállítása</h5>
                <div class="custom-file fileInputProfileWrap">
                    <input [ngStyle]="{'width.%': mobile ? '80' : '50'}" type="file" *ngIf="profileImage == null" (change)="fileChangeEvent($event)" accept="image/png, image/jpeg" class="fileInputProfile form-control">
                    <div class="img-space">
                        <ng-container *ngIf="profileImage != null" id="selectedImages">
                            <div class="row text-center text-lg-start">
                                <div class="col-lg-3 col-md-4 col-6">
                                    <mat-checkbox id="selectedImage" class="example-margin" [checked]="selected">
                                    </mat-checkbox>
                                    <img class="img-fluid img-thumbnail" [src]="'data:image/png;base64,'+ profileImage.image_data" (click)="selected = !selected">
                                </div>
                            </div>

                        </ng-container>
                    </div>

                </div>
                <a class="btn btn-danger" *ngIf="selected" (click)="deleteImage()">Eltávolítás</a>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label fs-5">
                    Teljes név:
                </label>
                <input [ngStyle]="{'width.%': mobile ? '80' : '50'}" type="text" maxlength="255" class="form-control" id="username" name="username" value="{{userModify.full_name}}" [(ngModel)]="userModify.full_name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label fs-5">E-mail cím</label>
                <input [ngStyle]="{'width.%': mobile ? '80' : '50'}" type="email" maxlength="320" class="form-control" id="email" value="{{user.email}}" readonly>
                <div id="emailHelp" class="form-text">Az e-mail cím regisztráció után nem változtatható meg.</div>
            </div>
            <div class="mb-3">
                <label for="phoneNumber" class="form-label fs-5">
                    Telefonszám:
                </label>
                <input [ngStyle]="{'width.%': mobile ? '80' : '50'}" type="text" maxlength="12" class="form-control" id="phoneNumber" name="phoneNumber" value="{{userModify.phone_number}}" [(ngModel)]="userModify.phone_number">
                <div id="phoneNumberNelp" class="form-text">Kérjük ezt a formátumot használd: +36123456789</div>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="county" class="form-label fs-5">
                        Megye:
                    </label>
                    <select [ngStyle]="{'width.%': mobile ==true ? '80' : '50'}" class="form-select form-select-sm " id="county" name="county" required (change)="CountyChanged()" [(ngModel)]="selectedCounty">
                        <option *ngFor="let county of counties" [value]="county.county_name">{{county.county_name}}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label fs-5">
                        Város:
                    </label>
                    <select [ngStyle]="{'width.%': mobile ==true ? '80' : '50'}" class="form-select form-select-sm " id="city" name="city" required [(ngModel)]="selectedCity">
                        <option *ngFor="let city of cities" [value]="city.city_name">{{city.city_name}}</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <button id="passwordButton" (click)="pwdChange = !pwdChange" type="button" class="btn fs-5">
                    Jelszó módosítása
                </button>
                <button *ngIf="pwdChange" id="cancelbtn" (click)="pwdChange = !pwdChange; userModify.password = ''; password2 = ''" type="button" class="btn btn-danger fs-5 ms-2">
                    X
                </button>
            </div>
            <div class="mb-3" *ngIf="pwdChange">
                <label for="password" class="form-label fs-5">Jelszó:</label>
                <input [ngStyle]="{'width.%': mobile ? '80' : '50'}" type="password" maxlength="255" class="form-control pwd" name="password" [(ngModel)]="userModify.password">
            </div>
            <div class="mb-3" *ngIf="pwdChange">
                <label for="password2" class="form-label fs-5">Jelszó ismét:</label>
                <input [ngStyle]="{'width.%': mobile ? '80' : '50'}" type="password" maxlength="255" class="form-control pwd" name="password2" [(ngModel)]="password2">
            </div>

            <div class="mb-3">
                <button id="subscribeButton" (click)="ChangeTrainerValue()" [ngClass]="userModify.role == 'Trainer' ? 'd-none' : 'd-inline-block'" type="button" class="btn btn-info fs-5" data-bs-toggle="tooltip" data-bs-html="true" title="Ha szeretne edzővé válni és feltölteni edzéseit, kattintson!">
                    Edzővé válok!
                </button>
                <button id="cancelSubscriptionButton" (click)="ChangeTrainerValue()" [ngClass]="userModify.role == 'Trainer' ? 'd-inline-block' : 'd-none'" type="button" class="btn btn-info fs-5" data-bs-toggle="tooltip" data-bs-html="true" title="Ha szeretne lemondani edzői lehetőségeiről, kattintson a gombra!">
                    Edzőség lemondása
                </button>
            </div>
            <div>
                <button id="modifyButton" type="submit" class="btn btn-primary fs-5" (click)="save()">Módosítás</button>
                <button class="btn btn-danger mx-2 fs-5" (click)="deleteUser()">Fiók törlése</button>
                <br>
                <button class="btn btn-warning mt-2 fs-5" type="button" (click)="cancel()">Mégsem</button>
            </div>
            <p class="text-danger font-weight-bold text-center" *ngIf="errorMessage" id="error">{{errorMessage}}</p>
        </form>
    </div>
</div>