div input{
    margin: auto;
    text-align: center;
}
button {
    border: none;
}
.form-text {
    margin: auto;
}
.container-fluid {
    align-content: center;
    text-align: center;
}
#cancelSubscriptionButton{
    background-color: #1F2421;
    color: white;
}
#modifyButton {
    background-color: #216869;
}
#subscribeButton {
    background-color: #49A078 ;
}
#email {
    background-color: #9CC5A1;
}

