<mat-expansion-panel *ngIf="this.user.role == 'Trainer'">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Jelentkezők
      <mat-divider></mat-divider>
    </mat-panel-title>
    <mat-panel-description [ngStyle]="{'color': session.numberOfApplicants < session.min_member ? 'red' : 'green'}">
      {{ session.numberOfApplicants + "/" + session.max_member }}
      <span class="ms-2" *ngIf="session.numberOfApplicants < session.min_member"> Kevés jelentkező</span>
      <span class="ms-2" *ngIf="session.numberOfApplicants == session.max_member"> Betelt</span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="row" *ngFor="let applicant of applicantUsers;let j = index">
    <div class="col-6">
      <div>{{applicant.full_name}}</div>
    </div>
    <div class="col-6">
      <div>{{applicant.phone_number}}</div>
    </div>
    <hr>
  </div>
</mat-expansion-panel>
<mat-expansion-panel *ngIf="this.user.role == 'User'">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Részletek
      <mat-divider></mat-divider>
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="row">
    <div class="col-6">
      <div>Helyszín</div>
    </div>
    <div class="col-6">
      <div>{{location.city_name + ', ' + session.address_name}}</div>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-6">
      <div>Hossz</div>
    </div>
    <div class="col-6">
      <div>{{session.minutes}} perc</div>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-6">
      <div>Ár</div>
    </div>
    <div class="col-6">
      <div>{{session.price}} Ft</div>
    </div>
  </div>
</mat-expansion-panel>