.container-fluid {
    align-content: center;
    text-align: center;
    font-size: large;
}
input[type=number] {
    margin: auto;
    text-align: center;
}
input[type=text] {
    margin: auto;
    text-align: center;
}
#createButton {
    background-color: #216869;
}
