<div [ngStyle]="{'width.%': mobile ? '100' : '80'}" class="container-fluid">
    <form>
        <h1>Új alkalom hozzáadása</h1>
        <div class="mb-3">
            <label for="date" class="form-label">
                Dátum:
            </label>
            <br>
            <input  type="date" class="datepicker" data-date-format="mm/dd/yyyy" id="date" name="date" required>
            <input  type="time" name="time" id="time">
        </div>
        <div class="mb-3">
            Helyszín:
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">
                Város:
            </label>
            <input [ngStyle]="{'width.%': mobile ? '80' : '50'}" type="text" class="form-control" id="location" name="location" required>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">
                Közterület neve, száma:
            </label>
            <input [ngStyle]="{'width.%': mobile ? '80' : '50'}" type="text" class="form-control" id="location" name="location" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">
                Edzés ára forintban:
            </label>
            <input [ngStyle]="{'width.%': mobile ? '30' : '20'}" type="number" class="form-control" id="price" name="price" required>
        </div>
        <div class="mb-3">
            <label for="minutes" class="form-label">
                Hossz percben:
            </label>
            <input [ngStyle]="{'width.%': mobile ? '30' : '20'}" type="number" class="form-control" id="minutes" name="minutes" required >
        </div>
        <div class="mb-3">
            <button id="createButton" type="submit" class="btn btn-success fs-5">Alkalom mentése</button>
            <button class="btn btn-danger ms-2 fs-5">Mégsem</button>
        </div>
    </form>
</div>
