.container-fluid {
  align-content: center;
  text-align: center;
  font-size: large;
}
input[type="number"],
input[type="text"],
select {
  margin: auto;
  text-align: center;
}
#createButton {
  background-color: #216869;
  border: none;
}
.trainingDetails {
    color:#63a7a8;
}
#line {
  width: 50%;
  margin: auto;
  margin-top: 15pt;
  margin-bottom: 15pt;
}
.parallax {
  background-image: url("../../../assets/images/backgrounds/background2.jpeg");
  min-height: calc(100vh - 58px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
@media screen and (max-width: 991px) {
  .parallax {
    min-height: calc(100vh - 79px);
  }
}
.color {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 25%;
  margin-right: 25%;
  background-color: rgba(27, 27, 27, 0.568);
}
