<div (resized)="onResized($event)" [ngStyle]="{ 'width.%': mobile == true ? '100' : '80' }" class="container-fluid">
  <div class="row">
    <div *ngFor="let training of myTrainings; let i = index" class="col-xxl-4 col-xl-6 col-md-6">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-4 align-items-center">
            <img [src]="imgSrc" style="width: 100%; height: 100%; object-fit: cover" class="img-fluid" alt="..." />
          </div>

          <div class="col-8" id="bckg">
            <img [src]="imgBckgSrc" style="width: 100%; height: 100%; object-fit: cover" class="img-fluid" alt="..." />
          </div>

          <div class="card-body container-fluid row g-0" style="background-color: #343a40">
            <div class="col-auto">
              <h4 class="card-title text-white mb-3 me-3">
                {{ training.name }}
              </h4>
            </div>
            <div class="col-12">
              <button id="modify" *ngIf="users[0].trainer" class="btn btn-primary mb-3 me-3"
                routerLink="/createtraining">
                Szerkesztés
              </button>
              <button id="newSession" *ngIf="users[0].trainer" class="btn btn-primary mb-3 me-3"
                routerLink="/addsession">
                Új alkalom
              </button>
              <button id="cancel" *ngIf="users[0].trainer == false" class="btn btn-danger mb-3">
                Lemondás
              </button>
              <button id="sessions" *ngIf="users[0].trainer" class="btn btn-primary mb-3 me-3" (click)="open(content)">
                Alkalmak
              </button>
              <button id="delete" *ngIf="users[0].trainer" class="btn btn-danger mb-3 ">
                Törlés
              </button>
            </div>

            <h6 class="card-title text-white">{{ users[0].full_name }}</h6>
          </div>

          <div class="col-md-12" id="lightBckg">
            <div class="card-body">
              <p class="card-text">{{ training.description }}</p>
              <button id="tag" [ngStyle]="{
                  'background-color': tag.colour,
                  'border-color': 'tag.colour'
                }" *ngFor="let tag of allTags | slice: 0:this.counter" class="btn fw-bold me-1 mb-1">
                {{ tag.name }}
              </button>
              <select *ngIf="allTags.length > 4" id="moreTag" class="btn fw-bold me-1 mb-1">
                <option value="">...</option>
                <option *ngFor="let tag of allTags" value="">
                  {{ tag.name }}
                </option>
              </select>
              <p class="card-text fw-bold">
                <a class="text-decoration-none text-black" routerLink="">{{
                  users[0].city
                  }}</a>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <button id="newTraining" class="btn fw-bold mx-2" routerLink="/createtraining">
        Új edzés
      </button>
    </div>
  </div>
</div>

<!--Modal popup-->
<ng-template #content let-modal>
  <mat-accordion>
    <mat-expansion-panel id="exPanel" hideToggle>
      <!--TODO disable open-->
      <mat-expansion-panel-header>
        <mat-panel-title>
          Időpont
        </mat-panel-title>
        <!-- <mat-panel-description>
          Foglalás időpontja
        </mat-panel-description> -->
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-divider></mat-divider>
    <!-- https://stackblitz.com/edit/angular-f86jqn-tspqn8?file=app%2Fexpansion-overview-example.ts -->
    <mat-expansion-panel *ngFor="let item of ordered_session;let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ item[0].date.substr(0,10) }}
          <mat-divider></mat-divider>
        </mat-panel-title>
        <mat-panel-description>
          <button class="btn btn-primary me-3">Módosítás</button>
          <button class="btn btn-danger">Törlés</button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-expansion-panel *ngFor="let obj of item ">
        <mat-expansion-panel-header >
          <mat-panel-title >
            {{ obj.date.substr(10) }}
            <mat-divider></mat-divider>
          </mat-panel-title>
          <mat-panel-description [ngStyle]="{'color': statuses[i].includes('Betelt')|| statuses[i].includes('Kevés') ? 'red' : 'black'}">
            {{statuses[i]}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row" *ngFor="let user of users" >
          <div class="col-6">
            <div *ngIf="user.trainer == false" >{{user.full_name}}</div>
          </div>
          <div class="col-6">
            <div *ngIf="user.trainer == false" >{{user.phone_number}}</div>
          </div>
          <hr>
        </div>
        
      </mat-expansion-panel>
    </mat-expansion-panel>

  </mat-accordion>
</ng-template>