<div (resized)="onResized($event)" [ngStyle]="{ 'width.%': mobile == true ? '100' : '80' }" class="container-fluid">
  <div class="row">
    <div *ngFor="let training of myTrainings; let i = index" class="col-xxl-4 col-xl-6 col-md-6">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-4 align-items-center">
            <img [src]="imgSrc" style="width: 100%; height: 100%; object-fit: cover" class="img-fluid" alt="..." />
          </div>

          <div class="col-8" id="bckg">
            <img [src]="imgBckgSrc" style="width: 100%; height: 100%; object-fit: cover" class="img-fluid" alt="..." />
          </div>

          <div class="card-body container-fluid row g-0" style="background-color: #343a40">
            <div class="col-auto">
              <h4 class="card-title text-white mb-3 me-3">
                {{ training.name }}
              </h4>
            </div>
            <div class="col-12">
              <button id="modify" *ngIf="user.trainer" class="btn btn-primary mb-3 me-3" [routerLink]="'/createtraining/' + training.id">
                Szerkesztés
              </button>
              <button id="newSession" *ngIf="user.trainer" class="btn btn-primary mb-3 me-3" [routerLink]="'/addsession/'  + training.id + '/' + 0">
                Új alkalom
              </button>
              <button id="cancel" *ngIf="user.trainer == false" class="btn btn-danger mb-3">
                Lemondás
              </button>
              <button id="sessions" *ngIf="user.trainer" class="btn btn-primary mb-3 me-3" (click)="open(content, training.id)">
                Alkalmak
              </button>
            </div>
            <h6 class="card-title text-white">{{ user.full_name }}</h6>
          </div>
          <div class="col-md-12" id="lightBckg">
            <div class="card-body">
              <p class="card-text">{{training.description}}</p>

              <span *ngFor="let tag of tagTraining">
                <button *ngIf="training.id == tag.training_id && tag.tag_id == tags[tag.tag_id-1].id  ? 'true' : ''" id="tag" [ngStyle]="{'background-color':tags[tag.tag_id-1].colour, 'border-color':'white'}" class="btn fw-bold me-1 mb-1">{{tags[tag.tag_id-1].name}}</button>
              </span>
              <select *ngIf=" " id="moreTag" class="btn fw-bold me-1 mb-1">
                <option value="">...</option>
                <option *ngFor="let tag of tags" value="">{{tag.name}}</option>
              </select>
              <!-- <p class="card-text fw-bold"><a class="text-decoration-none text-black" routerLink="">{{locations[users[i].location_id-1].city_name}}</a></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <button id="newTraining" class="btn fw-bold mx-2" routerLink="/createtraining">
        Új edzés
      </button>
    </div>
  </div>
</div>


<!-- Modal popup -->
<ng-template #content let-modal>
  <mat-accordion>
    <mat-expansion-panel id="exPanel" hideToggle>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Időpont
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-divider></mat-divider>

    <mat-expansion-panel *ngFor="let session of sessions;let i = index">
      <mat-expansion-panel-header >
        <mat-panel-title>
          {{ session.date | date: 'yyyy.MM.dd. HH:mm'}}
          <mat-divider></mat-divider>
        </mat-panel-title>
        <mat-panel-description>
          <button class="btn btn-primary me-3" [routerLink]="'/addsession/'  +  currentTraining.id + '/' + session.id" (click)="close()" >Duplikálás</button>
          <button class="btn btn-danger">Törlés</button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-session-modal [session]="session" ></app-session-modal>
    </mat-expansion-panel>

  </mat-accordion>
</ng-template>