.container-fluid{
    width: 80%;
}
#tag{    
    height: 30px;
    font-size: x-small;
    border: 0px;
    color: white;
}
#moreTag{
    height: 30px;
    padding: 0px;
    border: 1px solid black;
    width: 3rem;
}
#lightBckg {
    background-color: white;
}
#modify{
    background-color: #216869;
    border-color: white;
}
#newSession{
    background-color: #49A078;
    border-color: white;

}
#newTraining {
    width: 40%;
    height: 40%;
    font-size: xx-large;
    background-color: #9CC5A1;
    color: white;
}