<div [ngStyle]="{'width.%': mobile ==true ? '100' : '80'}" class="container-fluid">
    <h1>Regisztráció</h1>
    <form>
        <p>A *-gal jelölt mezők kitöltése kötelező!</p>
        <div class="mb-3">
            <label for="username" class="form-label fs-5">
                Teljes név*
            </label>
            <input [ngStyle]="{'width.%': mobile ==true ? '80' : '50'}" type="text" class="form-control" id="username" name="username" required [(ngModel)]="newUser.full_name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label fs-5">E-mail cím*</label>
            <input [ngStyle]="{'width.%': mobile ==true ? '80' : '50'}" type="email" class="form-control" id="email" required [(ngModel)]="newUser.email">
            <div [ngStyle]="{'width.%': mobile ==true ? '80' : '50'}" id="emailHelp" class="form-text">Az e-mail cím regisztráció után nem változtatható meg!</div>
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label fs-5">
                Telefonszám*
            </label>
            <input [ngStyle]="{'width.%': mobile ==true ? '80' : '50'}" type="text" class="form-control" id="phoneNumber" name="phoneNumber" required [(ngModel)]="newUser.phone_number">
            <div id="phoneNumberNelp" class="form-text">Kérjük ezt a formátumot használd: +36123456789</div>
        </div>
        <div class="mb-3">
            <label class="form-label fs-5"> Helyszín:</label>
            <div [ngStyle]="{'width.%': mobile ==true ? '80' : '50'}" id="cityHelp" class="form-text">Kérjük add meg a várost és megyét, ahol szívesen edzenél, hogy a megfelelő edzéseket mutathassuk!</div>

        </div>
        <div class="mb-3">
            <label for="county" class="form-label fs-5">
                Megye*
            </label>
            <select [ngStyle]="{'width.%': mobile ==true ? '80' : '50'}" class="form-select form-select-sm " id="county" name="county" required (change)="CountyChanged()" [(ngModel)]="selectedCounty">
                <option *ngFor="let county of counties" [value]="county.county_name">{{county.county_name}}</option>
            </select>
        </div>
        <div *ngIf="selectedCounty" class="mb-3">
            <label for="city" class="form-label fs-5">
                Város*
            </label>
            <select [ngStyle]="{'width.%': mobile ==true ? '80' : '50'}" class="form-select form-select-sm " id="city" name="city" required [(ngModel)]="selectedCity">
                <option value=""></option>
                <option *ngFor="let city of cities" [value]="city.city_name">{{city.city_name}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label fs-5">Jelszó*</label>
            <input [ngStyle]="{'width.%': mobile ==true ? '80' : '50'}" type="password" class="form-control pwd" name="password" required > 
        </div>
        <div class="mb-3">
            <label for="password" class="form-label fs-5">Jelszó ismét*</label>
            <input [ngStyle]="{'width.%': mobile ==true ? '80' : '50'}" type="password" class="form-control pwd" name="password" required [(ngModel)]="newUser.password"> 
        </div>
        <!-- <div class="mb-3">
            <input class="form-check-input" type="checkbox" id="accept" name="accept" required>
            <label class="form-check-label ms-2" for="accept">
                Felhasználási feltételek elfogadása*
            </label>
        </div> -->
        <div class="mb-3">
            <input class="form-check-input" type="checkbox" id="trainer" name="trainer" [(ngModel)]="isTrainer">
            <label class="form-check-label ms-2" for="trainer">
                Edzőként szeretnék regisztrálni
            </label>
        </div>
        <div class="mb-3">
            <button id="registerButton" type="submit" class="btn fs-5" (click)="Register()">Regisztráció</button>
            <button class="btn btn-danger ms-2 fs-5">Mégsem</button>
        </div>
    </form>
</div>

<!--Modal popup-->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{messageTitle}}</h4>        
        <mat-icon id="close" class="close-icon" color="warn" class="close" (click)="close()">close</mat-icon>
      </div>
      <div class="modal-body">
        {{messageBox}}
      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-outline-dark" (click)="close()">Ok</button>
      </div>
  </ng-template>