div input{
    width: 40%;
    margin: auto;
    text-align: center;
}
#accept, #trainer {
    width: 1rem;
}
.form-text {
    margin: auto;
    text-align: center;
    display: block;
}
.container-fluid {
    align-content: center;
    text-align: center;
}
#registerButton{
    background-color: #216869;
    color: white;
}
label {
    text-align: center;
    display: block;
}
.form-check-label, .form-check-input {
    display:inline-block;
}