#catImg {
  border-radius: 25px;
  
}
#catImgDiv{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#catRef{
  background-color: rgba(0, 0, 0, 0.7);
  width: 70%;
  height: 20%;
  text-align: center;
}
a#catRef{
  color: white;
  font-size: xx-large;
}