<div class="container fs-5">
    <h1>Edzés létrehozása</h1>
    <form>
        <div class="mb-3">
            <div>Fényképek feltöltése:</div>
            <input type="file" multiple>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">
                Edzés neve:
            </label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3 fs-4">
            <label>Edző neve: {{user.full_name}}</label>
        </div>
        <div class="mb-3">
            <label for="category" class="form-control-label me-3">Kategória:</label>
            <select id="category" name="category">
                <option value=""></option>
                <option *ngFor="let cat of categories" [value]="cat.name">{{cat.name}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="description" class="form-control-label d-block">Edzés leírása:</label>
            <textarea name="description" id="description" cols="50" rows="8"></textarea>
        </div>
        <div class="mb-3">
            <label for="memberNumber" class="form-control-label d-block">Résztvevők száma:</label>
            <input type="number" name="memberNumber" id="memberNumber"> -
            <input type="number" name="memberNumber" id="memberNumber">
        </div>
        <div class="mb-3">
            <label for="tags" class="form-control-label me-2">Címkék:</label>
            <select id="tags" name="tags">
                <option *ngFor="let tag of tags" (change)="OnSelect(tag)" [value]="tag.name">{{tag.name}}</option>
            </select>
            <span *ngFor="let tag of selectedTags">{{tag.name}} </span>
        </div>

        <div class="mb-3">
            <input (click)="isChecked = false" class="form-check-input" type="radio" name="phone" id="phone" checked>
            <label class="form-check-label" for="phone">
                A saját telefonszámom szeretném használni ({{user.phone_number}})
            </label>
            <br>
            <input (click)="isChecked = true" class="form-check-input" type="radio" name="phone" id="phone">
            <label class="form-check-label me-2" for="phone">
                Másik telefonszámot adok meg:
            </label>
            <input [disabled]="!isChecked" type="text" id="otherPhone" name="otherPhone">
        </div>

        <div class="mb-3">
            <button id="createButton" type="submit" class="btn btn-success fs-5">Edzés mentése</button>
            <button class="btn btn-danger ms-2 fs-5">Mégsem</button>
        </div>
    </form>
</div>