#name{
    margin: auto;
    text-align: center;
}
.form-text {
    margin: auto;
}
.container-fluid {
    align-content: center;
    text-align: center;
}
ul {
    margin-left: 35%;
    width: 60%;
    list-style: none;
    text-align: left;
}
#photo {
    margin: auto;
}
#createButton {
    background-color: #216869;
}
#close:hover{
    cursor: pointer;
}