<div [ngStyle]="{'width.%': mobile ? '100' : '80'}" class="container-fluid fs-5">
    <h1>Edzés létrehozása</h1>
    <form>
        <div class="mb-3" id="photo">
            <div>Fényképek feltöltése:</div>
            <input type="file" multiple>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">
                Edzés neve:
            </label>
            <input [ngStyle]="{'width.%': mobile ? '80' : '50'}" type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3 fs-4">
            <label>Edző neve: {{user.full_name}}</label>
        </div>
        <div class="mb-3">
            <label for="category" class="form-control-label me-3">Kategória:</label>
            <select [ngStyle]="{'width.%': mobile ? '60' : '50'}" type="text" id="category" name="category">
                <option value=""></option>
                <option *ngFor="let cat of categories" [value]="cat.name">{{cat.name}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="description" class="form-control-label d-block">Edzés leírása:</label>
            <textarea [ngStyle]="{'width.%': mobile ? '80' : '50'}" type="text" name="description" id="description" cols="50" rows="8"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-control-label d-block">Résztvevők száma:</label>
            <input [ngStyle]="{'width.%': mobile ? '15' : '8'}" type="text" type="number" name="minMemberNumber" id="minMemberNumber"> -
            <input [ngStyle]="{'width.%': mobile ? '15' : '8'}" type="text" type="number" name="maxMemberNumber" id="maxMemberNumber">
        </div>
        <div class="mb-3 checks">
            <div class="form-control-label me-2">Címkék:</div>
            <ul>
                <li *ngFor="let tag of tags" class="checks">
                    <input [value]="tag.name" class="form-check-input me-2" type="checkbox" value="{{tag.name}}" id="cbTags">
                    <label class="form-check-label" for="cbTags">
                        {{tag.name}}
                    </label>
                </li>
            </ul>
        </div>

        <div class="mb-3">
            <input class="form-check-input" type="radio" name="phone" id="phone" checked>
            <label  [ngStyle]="{'width.%': mobile ? '80' : '50'}" type="text" class="form-check-label" for="phone">
                A saját telefonszámom szeretném használni ({{user.phone_number}})
            </label>
            <br>
            <input class="form-check-input" type="radio" name="phone" id="otherPhone">
            <label [ngStyle]="{'width.%': mobile ? '80' : '50'}" type="text" class="form-check-label me-2" for="otherPhone">
                Másik telefonszámot adok meg:
                <input [ngStyle]="{'width.%': mobile ? '80' : '50'}" type="text" type="text" id="otherPhoneNumber" name="otherPhoneNumber">
            </label>
        </div>

        <div class="mb-3">
            <button id="createButton" type="submit" class="btn btn-success fs-5">Edzés mentése</button>
            <button class="btn btn-danger ms-2 fs-5">Mégsem</button>
        </div>
    </form>
</div>