.container-fluid {
  width: 80%;
}
#tag {
  height: 30px;
  font-size: x-small;
  border: 0px;
  color: #dce1de;
}
.catBtn {
  background-color: #9cc5a1;
  color: #1f2421;
  font-weight: bold;
}
.dark {
  margin: auto;
  padding: auto;
  background-color: #1f2421;
  align-items: center;
  align-content: center;
}
.light {
  background-color: white;
}
.hoverLink:hover {
  cursor: pointer;
}

.search > div {
  font-size: large;
  margin: auto;
  text-align: center;
}
.form-select {
  margin: auto;
  margin-bottom: 1rem;
}

select,
input {
  height: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
#searchBtn {
  width: 25%;
  font-size: medium;
  background-color: #49A078;
}
.search {
  padding: 2rem;
  margin: auto;
}
.appearing {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 4px;
  color: white;
  font-size: medium;
  font-weight: bolder;
  width: 70%;
}
#startSearch {
  font-size: large;
  background-color: #343a40;
  color: white;
  margin: auto;
  width: 15rem;
  height: 3rem;
  margin-bottom: 1rem;
}
.title {
  margin: auto;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  width: 30%;
}
#searchText {
  background-color: rgba(33, 104, 105, 0.8);
  color: white;
  width: 30%;
  margin: auto;
}

.parallax {
  background-image: url("../../../assets/images/backgrounds/background2.jpeg");
  min-height: calc(100vh - 59px);
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 991px) {
  .parallax {
    min-height: calc(100vh - 79px);

  }
}