<div (resized)="onResized($event)" [ngStyle]="{'width.%': mobile ==true ? '100' : '80'}" class="container-fluid">
    <div class="row">
  
      <div *ngFor="let training of trainings;let i=index" class="col-xxl-4 col-xl-6 col-md-6">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-4 align-items-center">
              <img [routerLink]="'/trainings/trainer/' + training.trainer_id"  [src]="imgSrc" style=" width: 100%;height: 100%;object-fit: cover;" class="img-fluid hoverLink" alt="...">
            </div>
  
            <div class="col-8" id="bckg">
              <img [routerLink]="'/training/' + training.id" [src]="imgBckgSrc" style=" width: 100%;height: 100%;object-fit: cover;" class="img-fluid hoverLink" alt="...">
            </div>
  
            <div class="card-body dark container-fluid row g-0">
              <div class="col">
                <h3 class="card-title text-white hoverLink" [routerLink]="'/training/' + training.id">{{training.name}}</h3>
                <span *ngIf="!trainer">
                  <span *ngFor="let trainer of trainers">
                    <h6 *ngIf="trainer.id == training.trainer_id" [routerLink]="'/trainings/trainer/' + trainer.id" class="card-title text-white hoverLink">{{trainer.full_name}}</h6>
                  </span>
                </span>
                <h6 *ngIf="trainer" [routerLink]="'/trainings/trainer/' + trainer.id" class="card-title text-white hoverLink">{{trainer.full_name}}</h6>
              </div>
              <div class="col">
                <span *ngFor="let cat of categories">
                  <button *ngIf="cat.id == training.category_id" class="btn mb-3 catBtn" [routerLink]="'/trainings/category/' + training.category_id" > {{ cat.name }}</button>
                </span>
              </div>
            </div>
  
            <div class="col-md-12">
              <div class="card-body light">
                <h5 class="card-text">{{training.description}}</h5>
               <span *ngFor="let tag of tagTraining">
                  <button [routerLink]="'/trainings/tag/' + tag.tag_id" *ngIf="training.id == tag.training_id && tag.tag_id == tags[tag.tag_id-1].id  ? 'true' : ''" id="tag"  [ngStyle]="{'background-color':tags[tag.tag_id-1].colour, 'border-color':'white'}"
                     class="btn fw-bold me-1 mb-1" >{{tags[tag.tag_id-1].name}}</button>
                </span>
                
                <!-- <p class="card-text fw-bold"><a class="text-decoration-none text-black" routerLink="">{{locations[users[i].location_id].city_name}}</a></p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>