.container-fluid{
    width: 80%;
}
#tag{    
    height: 30px;
    font-size: x-small;
    border: 0px;
    color: #DCE1DE;
}
.catBtn {
    background-color: #9CC5A1;
    color: #1F2421;
    font-weight: bold;
}
.dark {
    background-color: #343a40;
    margin: auto;
    padding: auto;
    align-items: center;
    align-content: center;
}
.light {
    background-color: white;
}
.hoverLink:hover {
    cursor: pointer;
}