<router-outlet></router-outlet>
<div class="container login-container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 login-form-1">
            <h3>Login</h3>
            <form>
                <div class="form-label">
                    <input type="text" class="form-control" placeholder="Email" value="" />
                </div>
                <div class="mb-3 form-label">
                    <input type="password" class="form-control" placeholder="Password" value="" />
                </div>
                <div class="mb-3 form-label">
                    <a href="#" class="ForgetPwd">Forget Password?</a>
                </div>
                <div class="form-label">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 login-form-2">
            <h3>Register</h3>
            <form>
                <div class="form-label">
                    <input type="text" class="form-control" placeholder="Email" value="" />
                </div>
                <div class="form-label">
                    <input type="password" class="form-control" placeholder="Password" value="" />
                </div>
                <div class="form-label">
                    <input type="password" class="form-control" placeholder="Repeat password" value="" />
                </div>
                <div class="form-label">
                    <input type="submit" class="btnSubmit" value="Sign up" />
                </div>
            </form>
        </div>
    </div>
</div>