<div class="parallax">
  <div class="container-fluid search">
    <div class="row">
      <button class="btn fs-2 mb-2" *ngIf="!isSearch" (click)="isSearch=!isSearch" id="searchText">Keresés hely alapján</button>
    </div>
    <div class="row mb-2 appearing" *ngIf="isSearch">
      <div class="col col-lg-6 col-md-12 col-sm-12">
        <label for="county" class="form-label">
          Megye választása:
        </label>
        <select class="form-select form-select-sm" id="county" name="county" required (ngModelChange)="CountyChanged($event)" [(ngModel)]="selectedCounty">
          <option value=""></option>
          <option id="selectedCounty" *ngFor="let county of counties" [value]="county.county_name">{{county.county_name}}</option>
        </select>
      </div>

      <div class="col col-lg-6 col-md-12 col-sm-12">
        <label for="city" class="form-label">
          Város választása:
        </label>
        <select [disabled]="!selectedCounty" class="form-select form-select-sm " id="city" name="city" required [(ngModel)]="selectedCity">
          <option value=""></option>
          <option *ngFor="let city of cities" [value]="city.city_name">{{city.city_name}}</option>
        </select>
      </div>

      <div class="col">
        <button class="btn fw-bold me-2" (click)="Search()" id="searchBtn">Keresés</button>
        <button class="btn btn-danger fw-bold" (click)="isSearch=!isSearch">X</button>
      </div>
    </div>
  </div>
  <div [ngStyle]="{'width.%': mobile ==true ? '100' : '80'}" class="container-fluid">
    <div class="row title">
      <h1 id="allTrainings" *ngIf="categoryId==0 && tagId==0 && trainerId==0 && !trainingName && !locationSearch">Minden Edzés</h1>
      <h1 id="filteredByCategory" *ngIf="categoryId!=0 && tagId==0 && trainerId==0 && !trainingName && !locationSearch">{{categoryName}} edzések</h1>
      <h1 id="filteredByTag" *ngIf="categoryId==0 && tagId!=0 && trainerId==0 && !trainingName && !locationSearch">{{tagName}} edzések</h1>
      <h1 id="filteredByTrainer" *ngIf="categoryId==0 && tagId==0 && trainerId!=0 && !trainingName && !locationSearch">{{trainer.full_name}} edzései</h1>
      <h1 id="filteredBySearch" *ngIf="categoryId==0 && tagId==0 && trainerId==0 && trainingName && !locationSearch">"{{trainingName}}" nevű edzések</h1>
      <h1 id="filteredByCounty" *ngIf="categoryId==0 && tagId==0 && trainerId==0 && !trainingName && selectedCounty && !selectedCity && locationSearch">{{selectedCounty}} megyei edzések</h1>
      <h1 id="filteredByCity" *ngIf="categoryId==0 && tagId==0 && trainerId==0 && !trainingName && selectedCity && locationSearch">{{selectedCity}} város edzései</h1>
    </div>
    <div class="row">

      <div *ngFor="let training of trainings;let i=index" id="training" class="col-xxl-4 col-xl-6 col-md-6">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-4 align-items-center">
              <span *ngFor="let trainer of trainers">
                <img *ngIf="training.trainer_id == trainer.id && trainer.image_id == 0" [routerLink]="'/trainings/trainer/' + training.trainer_id" [src]="defaultProfile" class="img-fluid full cover" alt="..." />
              </span>
              <span *ngFor="let image of profileImages">
                <span *ngFor="let trainer of trainers">
                  <img *ngIf="profileImages.length > 0 && image.id == trainer.image_id && training.trainer_id == trainer.id" [routerLink]="'/trainings/trainer/' + training.trainer_id" [src]="'data:image/png;base64,'+ image.image_data" class="img-fluid full cover" alt="..." />
                </span>
              </span>

            </div>

            <div class="col-8" id="bckg">
              <img *ngIf=" training.index_image_id == 0" [src]="defaultTraining" class="img-fluid full" alt="..." />

              <span *ngFor="let image of indexImages">
                <img *ngIf="indexImages.length > 0 && image.id == training.index_image_id" [src]="'data:image/png;base64,'+ image.image_data" [routerLink]="'/training/' + training.id" class="img-fluid hoverLink full cover" alt="..." />
              </span>
            </div>

            <div class="card-body dark container-fluid row g-0">
              <div class="col">
                <h3 class="card-title text-white hoverLink" [routerLink]="'/training/' + training.id">{{training.name}}</h3>
                <span *ngIf="!trainer">
                  <span *ngFor="let trainer of trainers">
                    <h6 *ngIf="trainer.id == training.trainer_id" [routerLink]="'/trainings/trainer/' + trainer.id" class="card-title text-white hoverLink">{{trainer.full_name}}</h6>
                  </span>
                </span>
                <h6 *ngIf="trainer" [routerLink]="'/trainings/trainer/' + trainer.id" class="card-title text-white hoverLink">{{trainer.full_name}}</h6>
              </div>
              <div class="col">
                <span *ngFor="let cat of categories">
                  <button *ngIf="cat.id == training.category_id" class="btn mb-3 catBtn" [routerLink]="'/trainings/category/' + training.category_id"> {{ cat.name }}</button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card-body light">
              <h5 ngbTooltip="{{ training.description.length > 45 ? training.description : ''}}" placement="bottom" class="card-text">{{training.description.length > 45 ? training.description.slice(0,45) + '...' : training.description}}</h5>
              <mat-chip-list>
                <span *ngFor="let tag of tagTraining">
                  <mat-chip [routerLink]="'/trainings/tag/' + tag.tag_id" *ngIf="tag.training_id == training.id" id="tag" [ngStyle]="{'background-color':tags[tag.tag_id-1].colour, 'border-color':'white'}" class="btn fw-bold me-1 mb-1">{{tags[tag.tag_id-1].name}}</mat-chip>
                </span>
              </mat-chip-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>