<div class="container login-container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 login-form-1">
            <h3>Bejelentkezés</h3>
            <form>
                <div class="form-label">
                    <input type="text" class="form-control" placeholder="E-mail cím" value="" />
                </div>
                <div class="mb-3 form-label">
                    <input type="password" class="form-control" placeholder="Jelszó" value="" />
                </div>
                <div class="mb-3 form-label">
                    <a href="#" class="ForgetPwd">Elfelejtettem a jelszavam</a>
                </div>
                <div class="mb-3 form-label fs-5">
                    <a class="nav-link active" routerLink="/register" class="ForgetPwd">Regisztrálni szeretnék!</a>
                </div>
                <div class="form-label">
                    <input type="submit" class="btnSubmit" value="Bejelentkezés" />
                </div>
            </form>
        </div>
        
    </div>
</div>