<div (resized)="onResized($event)" [ngStyle]="{'width.%': mobile ==true ? '100' : '80'}" class="container-fluid">
  <div class="row">

    <div *ngFor="let training of trainings;let i=index" class="col-xxl-4 col-xl-6 col-md-6">
      <div class="card mb-3">
        <div class="row g-0">

          <div class="col-4 align-items-center">
            <img [src]="imgSrc" style=" width: 100%;height: 100%;object-fit: cover;" class="img-fluid" alt="...">
          </div>

          <div class="col-8" id="bckg">
            <img [src]="imgBckgSrc" style=" width: 100%;height: 100%;object-fit: cover;" class="img-fluid " alt="...">
          </div>

          <div class="card-body container-fluid row g-0" style="background-color: #343a40;">
            <div class="col-auto">
              <h4 class="card-title text-white mb-3 me-3">{{training.name}}</h4>
            </div>
            <div class="col">
              <button class="btn btn-primary mb-3" routerLink="/training" >Megnézem</button>

            </div>
            
            <h6 class="card-title text-white">{{users[i].full_name}}</h6>
          </div>

          <div class="col-md-12" style="background-color: white;">
            <div class="card-body">

              <p class="card-text">{{training.description}}</p>

             <span *ngFor="let tag of tagTraining; let t = index">
                <button *ngIf="training.id == tag.training_id && tag.tag_id == tags[tag.tag_id-1].id && t < tagCounter[0].count ? 'true' : ''" id="tag"  [ngStyle]="{'background-color':tags[tag.tag_id-1].colour, 'border-color':'white'}"
                   class="btn fw-bold me-1 mb-1" >{{tags[tag.tag_id-1].name}}</button>
              </span>
                <select  *ngIf=" " id="moreTag" class="btn fw-bold me-1 mb-1">
                  <option value="">...</option>
                  <option *ngFor="let tag of selectedTags" value="">{{tag.name}}</option>
                </select>
              
              <p class="card-text fw-bold"><a class="text-decoration-none text-black" routerLink="">{{locations[users[i].location_id].city_name}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>